In [1]:
# importing libray
import pandas as pd
import pickle
import numpy as np
import matplotlib.pyplot as plt
import time

In [2]:
# creating func for k best
def selectkbest(indep_X,dep_Y,n):
    from sklearn.feature_selection import SelectKBest,chi2
    test = SelectKBest(score_func = chi2, k =n)
    fit1= test.fit(indep_X, dep_Y)
    selectk_features = fit1.transform(indep_X)
    return selectk_features

In [3]:
#function for spliting input output and stdarization
def split_scalar(indep_X,dep_Y):
    from sklearn.preprocessing import StandardScaler
    from sklearn.model_selection import train_test_split
    X_train,X_test,Y_train,Y_test = train_test_split(indep_X,dep_Y,test_size=0.25, random_state =0)
    sc = StandardScaler()
    X_train=sc.fit_transform(X_train)
    X_test = sc.transform(X_test)
    return(X_train,X_test,Y_train,Y_test)

In [4]:
def cm_pred(classifier,X_test):
    from sklearn.metrics import confusion_matrix
    from sklearn.metrics import accuracy_score
    from sklearn.metrics import classification_report
    test_pred = classifier.predict(X_test)
    cm = confusion_matrix(Y_test, test_pred)
    accuracy = accuracy_score(Y_test,test_pred)
    report = classification_report(Y_test,test_pred)
    return classifier, accuracy, report, X_test,Y_test,cm

In [5]:
def log(X_train,Y_train,X_test):
    from sklearn.linear_model import LogisticRegression
    classifier = LogisticRegression(random_state=0)
    classifier.fit(X_train,Y_train)
    classifier, accuracy, report, X_test,Y_test,cm = cm_pred(classifier, X_test)
    return classifier,accuracy, report,X_test,Y_test,cm

In [6]:
def svm(X_train,Y_train,X_test):
    from sklearn.svm import SVC
    classifier = SVC(kernel = 'rbf',random_state=0)
    classifier.fit(X_train,Y_train)
    classifier, accuracy, report, X_test,Y_test,cm = cm_pred(classifier, X_test)
    return classifier,accuracy, report,X_test,Y_test,cm

In [7]:

def Navie(X_train,Y_train,X_test):
    from sklearn.naive_bayes import GaussianNB
    classifier = GaussianNB()
    classifier.fit(X_train,Y_train)
    classifier, accuracy, report, X_test,Y_test,cm = cm_pred(classifier, X_test)
    return classifier, accuracy, report,X_test,Y_test,cm

In [8]:
def knn(X_train,Y_train,X_test):
    from sklearn.neighbors import KNeighborsClassifier
    classifier = KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2)
    classifier.fit(X_train,Y_train)
    classifier, accuracy, report, X_test,Y_test,cm = cm_pred(classifier, X_test)
    return classifier, accuracy, report,X_test,Y_test,cm

In [9]:

def decision(X_train,Y_train,X_test):
    from sklearn.tree import DecisionTreeClassifier
    classifier = DecisionTreeClassifier(criterion='entropy',random_state =0)
    classifier.fit(X_train,Y_train)
    classifier, accuracy, report, X_test,test_pred,cm = cm_pred(classifier, X_test)
    return classifier, accuracy, report,X_test,test_pred,cm

In [10]:

def random(X_train,y_train,X_test):
        
        # Fitting K-NN to the Training set
        from sklearn.ensemble import RandomForestClassifier
        classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
        classifier.fit(X_train, Y_train)
        classifier,Accuracy,report,X_test,Y_test,cm=cm_pred(classifier,X_test)
        return  classifier,Accuracy,report,X_test,Y_test,cm

In [11]:
def select_K_classification(acclog,accsvm,accnavie,accknn,accdt,accrf):
    df = pd.DataFrame(index=['ChiSquare'],columns =['Logistic','SVM','Navie','KNN','DecisionTree','RandomForest'])
    for number,idex in enumerate(df.index):
        df['Logistic'][idex]=acclog[number]
        df['SVM'][idex]=accsvm[number]
        df['Navie'][idex]=accnavie[number]
        df['KNN'][idex]=accknn[number]
        df['DecisionTree'][idex]=accdt[number]
        df['RandomForest'][idex]=accrf[number]
    return df

In [13]:
dataset =pd.read_csv('Pre_Loan_data.csv',index_col=None)

In [14]:
DF = dataset

In [15]:
indep_X = DF.drop('Personal Loan',axis =1)

In [16]:
dep_Y= DF['Personal Loan']

In [17]:
indep_X

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,25,1,4.083,4,1.6,1,0,1,0,0,0
1,45,19,2.833,3,1.5,1,0,1,0,0,0
2,39,15,0.917,1,1.0,1,0,0,0,0,0
3,35,9,8.333,1,2.7,2,0,0,0,0,0
4,35,8,3.750,4,1.0,2,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
4995,29,3,3.333,1,1.9,3,0,0,0,1,0
4996,30,4,1.250,4,0.4,1,85,0,0,1,0
4997,63,39,2.000,2,0.3,3,0,0,0,0,0
4998,65,40,4.083,3,0.5,2,0,0,0,1,0
4999,28,4,6.917,3,0.8,1,0,0,0,1,1

In [18]:
dep_Y

0       0
1       0
2       0
3       0
4       0
       ..
4995    0
4996    0
4997    0
4998    0
4999    0
Name: Personal Loan, Length: 5000, dtype: int64

In [41]:

kbest = selectkbest(indep_X,dep_Y,11)
acclog =[]
accsvm =[]
accnavie =[]
accknn =[]
accdt =[]
accrf=[]

In [42]:
# X_train,Y_train,Y_train,Y_test = split_scalar(kbest,dep_Y)
X_train, X_test, Y_train, Y_test=split_scalar(kbest,dep_Y)

In [43]:
classifier,accuracy,report,X_test,Y_test,cm=log(X_train,Y_train,X_test)
acclog.append(accuracy)
classifier,accuracy,report,X_test,Y_test,cm=svm(X_train,Y_train,X_test)
accsvm.append(accuracy)
classifier,accuracy,report,X_test,Y_test,cm=Navie(X_train,Y_train,X_test)
accnavie.append(accuracy)
classifier,accuracy,report,X_test,Y_test,cm=knn(X_train,Y_train,X_test)
accknn.append(accuracy)
classifier,accuracy,report,X_test,Y_test,cm=decision(X_train,Y_train,X_test)
accdt.append(accuracy)
classifier,accuracy,report,X_test,Y_test,cm=random(X_train,Y_train,X_test)
accrf.append(accuracy)

In [44]:
result =select_K_classification(acclog,accsvm,accnavie,accknn,accdt,accrf)

In [38]:
result # 4

          Logistic    SVM   Navie    KNN DecisionTree RandomForest
ChiSquare    0.932  0.928  0.8888  0.928       0.9248       0.9344

In [33]:
result #7

          Logistic     SVM   Navie     KNN DecisionTree RandomForest
ChiSquare   0.9528  0.9784  0.8944  0.9744       0.9832        0.984

In [28]:
result #9

          Logistic     SVM   Navie     KNN DecisionTree RandomForest
ChiSquare   0.9544  0.9752  0.8944  0.9712       0.9816       0.9856

In [45]:
result # 11

          Logistic     SVM   Navie     KNN DecisionTree RandomForest
ChiSquare   0.9592  0.9784  0.8944  0.9688       0.9808       0.9856